<mat-toolbar>
  <span>RxF1</span>
  <button color="primary" mat-flat-button routerLink="drivers">Drivers</button>
  <button color="primary" mat-flat-button routerLink="races">Races</button>
  <button color="primary" mat-flat-button routerLink="qualifying-results">Qualifying Results</button>
  <button color="primary" mat-flat-button routerLink="driver-standings">Driver Standings</button>
  <button color="primary" mat-flat-button routerLink="status">Status</button>
</mat-toolbar>
<div style="display: flex; gap: 1.5em">
  <mat-form-field appearance="outline" style="flex-grow: 1">
    <mat-label>Select Season</mat-label>
    <mat-select (selectionChange)="seasonService.selectedSeason.next($event.value)"
                [value]="seasonService.selectedSeason$ | async">
      <mat-option *ngFor="let season of seasonService.availableSeasons$ | async"
                  [value]="season">{{season}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="showRaceSelector$ | async" appearance="outline" style="flex-grow: 1">
    <mat-label>Select Race</mat-label>
    <mat-select (selectionChange)="racesService.selectedRaceRound.next($event.value)"
                [value]="racesService.selectedRaceRound$ | async">
      <mat-option *ngFor="let race of racesService.allRaces$ | async"
                  [value]="race.round">{{race.round + ' - ' + race.raceName}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<router-outlet></router-outlet>
